In [101]:
import pandas as pd
import numpy as np

In [102]:
def get_distance(df, centoid):
    return list(round(np.sqrt((df['x'] - centoid['x'])**2 + (df['y'] - centoid['y'])**2),2))

In [103]:
centoid_1: list = {'x': 3, 'y': 3}
centoid_2: list = {'x': 2, 'y': 2}
centoid_3: list = {'x': -3, 'y': 3}

In [104]:
df = pd.read_csv("raw_data.csv")
df

   x  y
0  1  2
1  3  3
2  2  2
3  8  8
4  6  6
5  7  7
6 -3 -3
7 -2 -4
8 -7 -7

In [105]:
distance_1 = get_distance(df, centoid_1)
distance_2 = get_distance(df, centoid_2)
distance_3 = get_distance(df, centoid_3)
group = []
for i in range(len(distance_1)):
    check_min = min(distance_1[i], distance_2[i], distance_3[i])
    if check_min == distance_1[i]:
        group.append("1")
    elif check_min == distance_2[i]:
        group.append("2")
    elif check_min == distance_3[i]:
        group.append("3")
print(group)

['2', '1', '2', '1', '1', '1', '3', '3', '3']

In [106]:
new_centoid_x,  new_centoid_y = [], []
for n in range(1,4,1):
    # print(n)
    sum_x, sum_y = [], []
    for i in range(len(group)):
        if group[i] == str(n):
            sum_x.append(df['x'][i])
            sum_y.append(df['y'][i])   
    # print(f"sum_x : {sum_x}")
    # print(f"sum_y : {sum_y}")
    average_x = round(sum(sum_x)/len(sum_x), 2)
    average_y = round(sum(sum_y)/len(sum_y), 2)
    # print(f"average group {n} : ({average_x}, {average_y})")
    new_centoid_x.append(average_x)
    new_centoid_y.append(average_y)
print(f"new centoid x : {new_centoid_x}")
print(f"new centoid x : {new_centoid_y}")
centoid_1['x'] = new_centoid_x[0]
centoid_1['y'] = new_centoid_y[0]
centoid_2['x'] = new_centoid_x[1]
centoid_2['y'] = new_centoid_y[1]
centoid_3['x'] = new_centoid_x[2]
centoid_3['y'] = new_centoid_y[2]
print(centoid_1)
print(centoid_2)
print(centoid_3)
iteration_x = pd.DataFrame()
iteration_y = pd.DataFrame()
iteration_x['1'] = new_centoid_x
iteration_y['1'] = new_centoid_y

new centoid x : [6.0, 1.5, -4.0]
new centoid x : [6.0, 2.0, -4.67]
{'x': 6.0, 'y': 6.0}
{'x': 1.5, 'y': 2.0}
{'x': -4.0, 'y': -4.67}

In [107]:
iteration_x

     1
0  6.0
1  1.5
2 -4.0

In [108]:
iteration_y

      1
0  6.00
1  2.00
2 -4.67

In [109]:
distance_1 = get_distance(df, centoid_1)
distance_2 = get_distance(df, centoid_2)
distance_3 = get_distance(df, centoid_3)
group = []
for i in range(len(distance_1)):
    check_min = min(distance_1[i], distance_2[i], distance_3[i])
    if check_min == distance_1[i]:
        group.append("1")
    elif check_min == distance_2[i]:
        group.append("2")
    elif check_min == distance_3[i]:
        group.append("3")
print(group)
new_centoid_x,  new_centoid_y = [], []
for n in range(1,4,1):
    # print(n)
    sum_x, sum_y = [], []
    for i in range(len(group)):
        if group[i] == str(n):
            sum_x.append(df['x'][i])
            sum_y.append(df['y'][i])   
    # print(f"sum_x : {sum_x}")
    # print(f"sum_y : {sum_y}")
    average_x = round(sum(sum_x)/len(sum_x), 2)
    average_y = round(sum(sum_y)/len(sum_y), 2)
    # print(f"average group {n} : ({average_x}, {average_y})")
    new_centoid_x.append(average_x)
    new_centoid_y.append(average_y)
print(f"new centoid x : {new_centoid_x}")
print(f"new centoid x : {new_centoid_y}")
centoid_1['x'] = new_centoid_x[0]
centoid_1['y'] = new_centoid_y[0]
centoid_2['x'] = new_centoid_x[1]
centoid_2['y'] = new_centoid_y[1]
centoid_3['x'] = new_centoid_x[2]
centoid_3['y'] = new_centoid_y[2]
print(centoid_1)
print(centoid_2)
print(centoid_3)
iteration_x['2'] = new_centoid_x
iteration_y['2'] = new_centoid_y

['2', '2', '2', '1', '1', '1', '3', '3', '3']
new centoid x : [7.0, 2.0, -4.0]
new centoid x : [7.0, 2.33, -4.67]
{'x': 7.0, 'y': 7.0}
{'x': 2.0, 'y': 2.33}
{'x': -4.0, 'y': -4.67}

In [110]:
iteration_x

     1    2
0  6.0  7.0
1  1.5  2.0
2 -4.0 -4.0

In [111]:
iteration_y

      1     2
0  6.00  7.00
1  2.00  2.33
2 -4.67 -4.67

In [112]:
distance_1 = get_distance(df, centoid_1)
distance_2 = get_distance(df, centoid_2)
distance_3 = get_distance(df, centoid_3)
group = []
for i in range(len(distance_1)):
    check_min = min(distance_1[i], distance_2[i], distance_3[i])
    if check_min == distance_1[i]:
        group.append("1")
    elif check_min == distance_2[i]:
        group.append("2")
    elif check_min == distance_3[i]:
        group.append("3")
print(group)
new_centoid_x,  new_centoid_y = [], []
for n in range(1,4,1):
    # print(n)
    sum_x, sum_y = [], []
    for i in range(len(group)):
        if group[i] == str(n):
            sum_x.append(df['x'][i])
            sum_y.append(df['y'][i])   
    # print(f"sum_x : {sum_x}")
    # print(f"sum_y : {sum_y}")
    average_x = round(sum(sum_x)/len(sum_x), 2)
    average_y = round(sum(sum_y)/len(sum_y), 2)
    # print(f"average group {n} : ({average_x}, {average_y})")
    new_centoid_x.append(average_x)
    new_centoid_y.append(average_y)
print(f"new centoid x : {new_centoid_x}")
print(f"new centoid x : {new_centoid_y}")
centoid_1['x'] = new_centoid_x[0]
centoid_1['y'] = new_centoid_y[0]
centoid_2['x'] = new_centoid_x[1]
centoid_2['y'] = new_centoid_y[1]
centoid_3['x'] = new_centoid_x[2]
centoid_3['y'] = new_centoid_y[2]
print(centoid_1)
print(centoid_2)
print(centoid_3)
iteration_x['3'] = new_centoid_x
iteration_y['3'] = new_centoid_y

['2', '2', '2', '1', '1', '1', '3', '3', '3']
new centoid x : [7.0, 2.0, -4.0]
new centoid x : [7.0, 2.33, -4.67]
{'x': 7.0, 'y': 7.0}
{'x': 2.0, 'y': 2.33}
{'x': -4.0, 'y': -4.67}

In [113]:
iteration_x

     1    2    3
0  6.0  7.0  7.0
1  1.5  2.0  2.0
2 -4.0 -4.0 -4.0

In [114]:
iteration_y

      1     2     3
0  6.00  7.00  7.00
1  2.00  2.33  2.33
2 -4.67 -4.67 -4.67